.mainheading{
    text-align:center;
} 
body,html{
    height:100%;
    margin:0;
    font-size:20px;
    font-family:sans-serif;
    font-weight:500;
    line-height:1.8em;
    color:rgb(10,10,10);
}
.homepageimage1, .homepageimages2, .homepageimage3{
    position:relative;
    opacity:0.77;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.homepageimage1{
    background-image:url("../Images/CloudX.jpeg");
    min-height:800px;
}
.homepageimage2{
    background-image:url("../Images/AboutX.jpeg");
    min-height:500px;
}
.homepageimage3{
    background-image:url("../Images/LinksX.jpeg");
    min-height:500px;
}

.footer{
    text-align:center;
    margin:50px,100px;
}
.section{
    text-align: center;
    padding:50px,100px;
}
.section-light{
    background-color:rgb(100,100,100);
    color:grey;
}
.section-dark{
    background-color:rgb(200,200,200);
    color:white;
}
.ptext{
    position:center;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:20px;
    letter-spacing:8px;
    text-transform: uppercase;
}
.btn {
  background: #5b5f61;
  background-image: -webkit-linear-gradient(top, #5b5f61, #404345);
  background-image: -moz-linear-gradient(top, #5b5f61, #404345);
  background-image: -ms-linear-gradient(top, #5b5f61, #404345);
  background-image: -o-linear-gradient(top, #5b5f61, #404345);
  background-image: linear-gradient(to bottom, #5b5f61, #404345);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #505457;
  text-decoration: none;
}