.mainheading{
    text-align:center;
} 
body,html{
    height:100%;
    margin:0;
    font-size:20px;
    font-family:sans-serif;
    font-weight:500;
    line-height:1.8em;
    color:rgb(10,10,10);
}
.homepageimage1, .homepageimages2, .homepageimage3,
.pdimage1, .pdimage2, .pdimage3,.pdimage4
.intimage1, .intimage2, .intimage3,
.webstoreimage1, .webstoreimage2, .webstoreimage3,
.travimage1,.travimage2,.travimage3
{
    position:relative;
    opacity:0.77;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.homepageimage1{
    background-image:url("../Images/UccX.jpg");
    min-height:800px;
}
.homepageimage2{
    background-image:url("../Images/AboutX.jpeg");
    min-height:500px;
}
.homepageimage3{
    background-image:url("../Images/LinksX.jpeg");
    min-height:500px;
}
.pdimage1{
    background-image:url("../Images/pdX.jpg");
    min-height:700px;
}
.pdimage2{
    background-image:url("../Images/EduX.jpeg");
    min-height:800px;
}
.pdimage3{
    background-image:url("../Images/weqX.jpg");
    min-height:800px;
}
.pdimage4{
    background-image:url("../Images/hertzX.jpg");
    min-height:1200px;
}
.intimage1{
    background-image:url("../Images/ufcX.jpg");
    min-height:800px;
}
.intimage2{
    background-image:url("../Images/munsX.jpg");
    min-height:800px;
}
.intimage3{
    background-image:url("../Images/nycX.jpeg");
    min-height:800px;   
}
.travimage1{
    background-image:url("../Images/nycX.jpg");
    min-height:800px;
}
.travimage2{
    background-image:url("../Images/japX.jpg");
    min-height:800px;
}
.travimage3{
    background-image:url("../Images/swissX.jpg");
    min-height:800px;   
}
.webstoreimage1{
    background-image:url("../Images/CloudX.jpeg");
    min-height:800px;
}
.webstoreimage2{
    background-image:url("../Images/AboutX.jpeg");
    min-height:800px;
}
.webstoreimage3{
    background-image:url("../Images/CloudX.jpeg");
    min-height:800px;   
}
.footer{
    text-align:center;
    margin:50px,100px;
}
.section{
    text-align: center;
    padding:50px,100px;
}
.section-light{
    background-color:rgb(100,100,100);
    color:grey;
}
.section-dark{
    background-color:rgb(10,10,10);
    color:white;
}
.ptext{
    position:center;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:20px;
    letter-spacing:8px;
    text-transform: uppercase;
}
.btn {
  background-image: -webkit-linear-gradient(top);
  background-image: -moz-linear-gradient(top);
  background-image: -ms-linear-gradient(top);
  background-image: -o-linear-gradient(top);
  background-image: linear-gradient(bottom);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color:rgb(200,200,200);
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #505457;
  text-decoration: none;
}